.header {
  height: 100vh;
  max-width: 114rem;
  margin: auto;
  padding: 5rem;

  &__text {
    position: absolute;
    max-width: 114rem;
    top: 50%;
    // left: 50%;
    transform: translateY(-50%);
  }

  &__hero {
    &--main {
      font-size: 9rem;
      font-weight: 700;
      display: block;
    }

    &--sub {
      font-size: 6rem;
      font-weight: 400;
      display: block;
    }
  }

  &__bio {
    font-size: $default-font-size;
    font-weight: 400;
    margin-right: 5rem;
  }
}
